<%= title l(:field_core_fields) %>

<% if @fields.present? %>
  <table class="list core_fields">
    <thead><tr>
      <th><%=l(:field_name)%></th>
      <th><%=l(:visible_by_all_roles)%></th>
      <th></th>
    </tr></thead>
    <tbody>
    <% @fields.each do |field| -%>
      <% back_url = core_fields_path %>
      <tr>
        <td class="name">
          <%= link_to core_field_title(field), edit_core_field_path(field) %>
        </td>
        <td><%= checked_image field.visible %></td>
        <td class="buttons">
          <%= reorder_handle(field, :url => core_field_path(field), :param => 'core_field') %>
        </td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= javascript_tag do %>
  $(function() { $("table.core_fields tbody").positionedItems(); });
<% end %>
