<div>
  <span colspan="2" style="text-align: left;font-weight: bold;"><%= l(:override_issue_form) %> :</span>
  <span>
    <%= radio_button_tag "settings[override_issue_form]", true, Setting['plugin_redmine_customize_core_fields']['override_issue_form'] == 'true', :id => "override_issue_form" %>
    <%= l(:general_text_Yes) %>
    <%= radio_button_tag "settings[override_issue_form]", false, Setting['plugin_redmine_customize_core_fields']['override_issue_form'] == 'false', :id => "override_issue_form" %>
    <%= l(:general_text_No) %>
  </span>
</div>

<% if Setting['plugin_redmine_customize_core_fields']['override_issue_form'] == 'true' %>
  <div>
    <span colspan="2" style="text-align: left;font-weight: bold;"><%= l(:display_custom_fields_first) %> :</span>
    <span>
      <%= radio_button_tag "settings[display_custom_fields_first]", true, Setting['plugin_redmine_customize_core_fields']['display_custom_fields_first'] == 'true', :id => "display_custom_fields_first" %>
      <%= l(:general_text_Yes) %>
      <%= radio_button_tag "settings[display_custom_fields_first]", false, Setting['plugin_redmine_customize_core_fields']['display_custom_fields_first'] == 'false', :id => "display_custom_fields_first" %>
      <%= l(:general_text_No) %>
    </span>
  </div>
<% end %>
